// section1.scss
.section-container{
    display: flex;
    position: relative;
    height: 600px;
.bn-wraper{
    position:absolute;
    width:60%;
    height: 100%;
    margin-top: 50px;
.bn-img{
    width:100%;
    height: 100%;
}
}
.text-wraper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-left: 140px;
    padding-right: 20px;
.left-block{
    width:600px;
    height:247px;
.left-h3{
    max-width:600px;
    width:100%;
.text-h3{
    font-size: 24px;
    text-transform: uppercase;
    color:#fff;
    font-family: 'Montserrat';
    padding-bottom: 40px;
    border-bottom: 2px solid #fff;
    font-weight: bold;
}
}
.text-left{
.text-h4{
    font-size: 24px;
    text-transform:inherit;
    color:#fff;
    font-family: 'Montserrat';
    max-width: 600px;
    width:100%;
    padding-top: 40px;
    padding-bottom: 10px;
    font-weight: 600;

}
.text-p{
    font-size: 16px;
    color:#fff;
    text-transform: inherit;
    max-width: 600px;
    width: 100%;
    font-family: 'Montserrat';
    font-weight: 400;
}
.learn-more{
    margin-top:45px;
    max-width:134px;
    width:100%;
    height:40px;
    background-color:#FA6980;
    font-size:11px;
    font-family: 'Montserrat';;
    border: 2px solid #FA6980;
    font-weight: 600;
    border-radius: 10px;
    color:#fff;
    text-transform:uppercase;
    letter-spacing: 1px;
    @include hover-effect (all, 0.5s, linear, 0.2s);
    &:hover{
        transform: scale(1.05);
    }
}
.learn-more{
    outline:none;

}
}
}
}
}
