.section-wraper {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}

.section-wraper .title-h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  margin-left: 40px;
}

.section-wraper .title-h2 .text-h2 {
  font-size: 24px;
  color: #202124;
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-weight: bold;
}

@media screen and (max-width: 420px) {
  .section-wraper .title-h2 .text-h2 {
    font-size: 20px;
  }
}

.section-wraper .title-h2 .arrow .left-arrow {
  font-size: 10px;
  color: #707070;
  cursor: pointer;
  margin-right: 20px;
}

.section-wraper .title-h2 .arrow .left-arrow:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.section-wraper .title-h2 .arrow .right-arrow {
  font-size: 10px;
  color: #202124;
  cursor: pointer;
}

.section-wraper .title-h2 .arrow .right-arrow:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.section-wraper .box {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 670px) {
  .section-wraper .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.section-wraper .box .box1 {
  max-width: 360px;
  width: 100%;
  border-radius: 6px;
  margin-left: 40px;
}

@media screen and (max-width: 1090px) {
  .section-wraper .box .box1 {
    max-width: 320px;
    width: 100%;
  }
}

@media screen and (max-width: 1020px) {
  .section-wraper .box .box1 {
    max-width: 300px;
    width: 100%;
  }
}

@media screen and (max-width: 950px) {
  .section-wraper .box .box1 {
    max-width: 280px;
    width: 100%;
  }
}

@media screen and (max-width: 890px) {
  .section-wraper .box .box1 {
    max-width: 260px;
    width: 100%;
  }
}

@media screen and (max-width: 820px) {
  .section-wraper .box .box1 {
    max-width: 240px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .section-wraper .box .box1 {
    max-width: 360px;
    width: 100%;
    margin-left: 40px;
  }
}

@media screen and (max-width: 420px) {
  .section-wraper .box .box1 {
    width: 85%;
  }
}

.section-wraper .box .box1 .img1 {
  width: 100%;
  -webkit-transition: all .2s;
  transition: all .2s;
  height: 100%;
  cursor: pointer;
}

.section-wraper .box .box1 .img1:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media screen and (max-width: 420px) {
  .section-wraper .box .box1 .img1 {
    -webkit-transition: all .2s;
    transition: all .2s;
    cursor: pointer;
  }
  .section-wraper .box .box1 .img1:hover {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

.section-wraper .box .box1 .title-h4 {
  font-size: 16px;
  color: #202124;
  font-weight: 600;
  text-transform: inherit;
  font-family: 'Montserrat';
  margin-top: 40px;
  margin-bottom: 10px;
  cursor: pointer;
}

@media screen and (max-width: 950px) {
  .section-wraper .box .box1 .title-h4 {
    font-size: 14px;
  }
}

@media screen and (max-width: 825px) {
  .section-wraper .box .box1 .title-h4 {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .section-wraper .box .box1 .title-h4 {
    font-size: 16px;
  }
}

@media screen and (max-width: 420px) {
  .section-wraper .box .box1 .title-h4 {
    font-size: 14px;
    -webkit-transition: all .2s;
    transition: all .2s;
    cursor: pointer;
  }
  .section-wraper .box .box1 .title-h4:hover {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

.section-wraper .box .box1 .title-p {
  font-size: 13px;
  color: #A6ADB4;
  font-weight: 600;
  text-transform: inherit;
  font-family: 'Montserrat';
  font-style: italic;
  margin-bottom: 10px;
  cursor: pointer;
}

.section-wraper .box .box1 .title-p:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media screen and (max-width: 950px) {
  .section-wraper .box .box1 .title-p {
    font-size: 11px;
  }
}

@media screen and (max-width: 820px) {
  .section-wraper .box .box1 .title-p {
    font-size: 11px;
  }
}

@media screen and (max-width: 768px) {
  .section-wraper .box .box1 .title-p {
    font-size: 13px;
  }
}

@media screen and (max-width: 420px) {
  .section-wraper .box .box1 .title-p {
    font-size: 11px;
    -webkit-transition: all .2s;
    transition: all .2s;
    cursor: pointer;
  }
  .section-wraper .box .box1 .title-p:hover {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

.section-wraper .box .box1 .i-clock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.section-wraper .box .box1 .i-clock .clock {
  font-size: 13px;
  color: #A6ADB4;
  margin-right: 10px;
}

.section-wraper .box .box1 .i-clock .right-p {
  font-size: 13px;
  color: #A6ADB4;
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: italic;
}

.section-wraper .box .box2 {
  max-width: 360px;
  width: 100%;
  border-radius: 6px;
  margin-left: 40px;
}

@media screen and (max-width: 1090px) {
  .section-wraper .box .box2 {
    max-width: 320px;
    width: 100%;
  }
}

@media screen and (max-width: 1020px) {
  .section-wraper .box .box2 {
    max-width: 300px;
    width: 100%;
  }
}

@media screen and (max-width: 950px) {
  .section-wraper .box .box2 {
    max-width: 280px;
    width: 100%;
  }
}

@media screen and (max-width: 890px) {
  .section-wraper .box .box2 {
    max-width: 260px;
    width: 100%;
  }
}

@media screen and (max-width: 820px) {
  .section-wraper .box .box2 {
    max-width: 240px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .section-wraper .box .box2 {
    max-width: 360px;
    width: 100%;
    margin-left: 40px;
  }
}

@media screen and (max-width: 420px) {
  .section-wraper .box .box2 {
    width: 85%;
  }
}

.section-wraper .box .box2 .img1 {
  width: 100%;
  height: 100%;
  -webkit-transition: all .2s;
  transition: all .2s;
  cursor: pointer;
}

.section-wraper .box .box2 .img1:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media screen and (max-width: 420px) {
  .section-wraper .box .box2 .img1 {
    -webkit-transition: all .2s;
    transition: all .2s;
    cursor: pointer;
  }
  .section-wraper .box .box2 .img1:hover {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

.section-wraper .box .box2 .title-h4 {
  font-size: 16px;
  color: #202124;
  font-weight: 600;
  text-transform: inherit;
  font-family: 'Montserrat';
  margin-top: 40px;
  margin-bottom: 10px;
  cursor: pointer;
}

.section-wraper .box .box2 .title-h4:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media screen and (max-width: 950px) {
  .section-wraper .box .box2 .title-h4 {
    font-size: 14px;
  }
}

@media screen and (max-width: 825px) {
  .section-wraper .box .box2 .title-h4 {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .section-wraper .box .box2 .title-h4 {
    font-size: 16px;
  }
}

@media screen and (max-width: 420px) {
  .section-wraper .box .box2 .title-h4 {
    font-size: 14px;
    -webkit-transition: all .2s;
    transition: all .2s;
    cursor: pointer;
  }
  .section-wraper .box .box2 .title-h4:hover {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

.section-wraper .box .box2 .title-p {
  font-size: 13px;
  color: #A6ADB4;
  font-weight: 600;
  text-transform: inherit;
  font-family: 'Montserrat';
  font-style: italic;
  margin-bottom: 10px;
  cursor: pointer;
}

.section-wraper .box .box2 .title-p:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media screen and (max-width: 950px) {
  .section-wraper .box .box2 .title-p {
    font-size: 11px;
  }
}

@media screen and (max-width: 820px) {
  .section-wraper .box .box2 .title-p {
    font-size: 11px;
  }
}

@media screen and (max-width: 768px) {
  .section-wraper .box .box2 .title-p {
    font-size: 13px;
  }
}

@media screen and (max-width: 420px) {
  .section-wraper .box .box2 .title-p {
    font-size: 11px;
    -webkit-transition: all .2s;
    transition: all .2s;
    cursor: pointer;
  }
  .section-wraper .box .box2 .title-p:hover {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

.section-wraper .box .box2 .i-clock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.section-wraper .box .box2 .i-clock .clock {
  font-size: 13px;
  color: #A6ADB4;
  margin-right: 10px;
}

.section-wraper .box .box2 .i-clock .right-p {
  font-size: 13px;
  color: #A6ADB4;
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: italic;
}

.section-wraper .box .box3 {
  max-width: 360px;
  width: 100%;
  border-radius: 6px;
  margin-left: 40px;
}

@media screen and (max-width: 1090px) {
  .section-wraper .box .box3 {
    max-width: 320px;
    width: 100%;
  }
}

@media screen and (max-width: 1020px) {
  .section-wraper .box .box3 {
    max-width: 300px;
    width: 100%;
  }
}

@media screen and (max-width: 950px) {
  .section-wraper .box .box3 {
    max-width: 280px;
    width: 100%;
  }
}

@media screen and (max-width: 890px) {
  .section-wraper .box .box3 {
    max-width: 260px;
    width: 100%;
  }
}

@media screen and (max-width: 820px) {
  .section-wraper .box .box3 {
    max-width: 240px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .section-wraper .box .box3 {
    display: none;
  }
}

.section-wraper .box .box3 .img1 {
  width: 100%;
  height: 100%;
  -webkit-transition: all .2s;
  transition: all .2s;
  cursor: pointer;
}

.section-wraper .box .box3 .img1:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.section-wraper .box .box3 .title-h4 {
  font-size: 16px;
  color: #202124;
  font-weight: 600;
  text-transform: inherit;
  font-family: 'Montserrat';
  margin-top: 40px;
  margin-bottom: 10px;
  cursor: pointer;
}

.section-wraper .box .box3 .title-h4:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media screen and (max-width: 950px) {
  .section-wraper .box .box3 .title-h4 {
    font-size: 14px;
  }
}

@media screen and (max-width: 825px) {
  .section-wraper .box .box3 .title-h4 {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .section-wraper .box .box3 .title-h4 {
    font-size: 16px;
  }
}

.section-wraper .box .box3 .title-p {
  font-size: 13px;
  color: #A6ADB4;
  font-weight: 600;
  text-transform: inherit;
  font-family: 'Montserrat';
  font-style: italic;
  margin-bottom: 10px;
  cursor: pointer;
}

.section-wraper .box .box3 .title-p:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media screen and (max-width: 950px) {
  .section-wraper .box .box3 .title-p {
    font-size: 11px;
  }
}

@media screen and (max-width: 820px) {
  .section-wraper .box .box3 .title-p {
    font-size: 11px;
  }
}

@media screen and (max-width: 768px) {
  .section-wraper .box .box3 .title-p {
    font-size: 13px;
  }
}

.section-wraper .box .box3 .i-clock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.section-wraper .box .box3 .i-clock .clock {
  font-size: 13px;
  color: #A6ADB4;
  margin-right: 10px;
}

.section-wraper .box .box3 .i-clock .right-p {
  font-size: 13px;
  color: #A6ADB4;
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: italic;
}
/*# sourceMappingURL=main-section2.css.map */